/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); */

@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

:root{
  --primary:#ffffff;
  --secondary:#150164;
  --blue:#5b86b0;
  --red:#fe0000;
  --red_dark:#aa232f;
  --gray:#f1f1f1;
  
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  font-style: var(--font-style);
  font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
  width: 9px;               /* width of the entire scrollbar */
  height: 14px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #cecece;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #030a8c;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid #cecece;  /* creates padding around scroll thumb */
}

@media screen and (max-width: 1024px){

  *::-webkit-scrollbar {
    width: 0;               /* width of the entire scrollbar */      
  }
}

html, body, #root{
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--gray);
}

button{
  background-color:transparent;
  border: 0;
  cursor: pointer;
}

h1{
  font-size:4rem;
}

h2{
  font-size:2.3rem;
  text-align:center;
  padding-top: 70px;
  padding-bottom:50px;
  text-decoration:underline;
}

p{
  font-size:1.3rem;
}

a{
  text-decoration: none;
}

label{
  font-size:1.3rem;
  color:#636363;
  font-weight:300;
}

img{
  max-width: 100%;
  display: block;
}

ul{
  list-style-type: none;
  list-style-position: inside;
}

input, textarea, button, select{
  outline: 0;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3%;
}

.btn{
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  position: relative;
  overflow: hidden;
}

.btn:hover{
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  scale:1.08;
}

.background_red{
  position:absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%) rotate(3.5deg);
  background-color:var(--red_dark);
  width: 150%;
  height: 100%;
  margin:0 auto;
}

.btn::before{
  content:"";
  position: absolute;
  left: -10px;
  top: 0;
  width: 18%;
  max-width: 20px;
  height:100%;
  background-image: linear-gradient(to left, rgba(255,255,255,0),rgba(255, 255, 255, 0.815),rgba(255, 255, 255, 0));
  z-index: 1;
  animation-name: btn_overlay;
  animation-duration:4s;
  animation-iteration-count: infinite;
 
}

@keyframes btn_overlay {
  0%{
    opacity: 0;
    left: -18%;
  }

  1%{
    opacity: 1;
  }

  20%{
    left: 100%;
    opacity: 1;
  }

  21%{
    left: -110%;
    opacity: 0;
  }

  50%{
    left: -18%;
    opacity: 0;
  }

  100%{
    left: -18%;
    opacity: 0;
  }
}


@media screen and (max-width: 768px){
  h1{
    font-size:3rem;
  }
  
  h2{
    font-size:2.3rem;
  }
  
  p{
    font-size:1rem;
  }
  
  a{
    text-decoration: none;
  }
  
  label{
    font-size:1.3rem;
    color:#636363;
    font-weight:300;
  }
}