.about_us{
    position: relative;
    margin: 100px auto;
    display:flex;
    align-items: center;
    width: 100%;
    padding:80px 0;
}

.container{
    position: relative;
    z-index: 1;
}

.container h2{
    color: #fff;
    padding-top: 0;
}

.container p{
    color: #fff;
    font-size:1.4rem;
    margin-bottom: 10px;
    color:var(--gray);
}

.svg{
    position:absolute;
    left:0;
    width: 100%;
    bottom:100%;
}

.svg_2{
    bottom:unset;
    top: calc(100% - 50px);
}

.info_wrap{
    display:flex;
    justify-content:center;
    align-items: flex-start;
    margin-top:80px;
    align-items:stretch;
}

.info_single{
    text-align: center;
    color:var(--gray);
    max-width:250px;
    border-right: 2px solid var(--gray);
    padding:0 25px;
}

.info_single:last-of-type{
    border-right: 0;
}

.yearsRef, .servicesRef, .clientesRateRef, .prizesRef{
    color:#fff;
    font-size: 3rem;
    margin-bottom: 10px;
}


@media screen and (max-width: 768px){
    .container p{
        font-size:1.2rem;
    }

    .yearsRef, .servicesRef, .clientesRateRef, .prizesRef{
        font-size: 2.7rem;
    }

    .info_wrap{
        flex-wrap: wrap;
        gap:15px;
        margin-top:50px;
    }
    
    .info_single{
        max-width:200px;
        border-right: 0;
        border-bottom: 1px dotted var(--gray);
        padding:0 15px;
    }
}


@media screen and (max-width: 473px){
    .info_single{
        width:auto;
        max-width: unset;
        border-right: 0;
        border-bottom: 1px dotted var(--gray);
        padding:0 15px;
    }
}
